<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
    <link rel="icon" href="../recursos/preguntas.jpg" type="image/ico" />
    <link rel="stylesheet" href="../css-folder/questions.css" class="css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
</head>

<body>

    <header>

        <div class="contenedor">

            <div class="X"> <a href="./index.html""><img  class=" x-img" src="../recursos/x.png" alt="X"></a> </div>
            <div class="bar"><img class="bar-img" src="../recursos/progress-bar.png" alt="Bar"></div>
            <div class="heart">
                <img class="heart-img" src="../recursos/heart.png" alt="Heart">
            </div>

            <div class="vidas">
                <h3 class="vidas">2</h3>
            </div>
        </div>
    </header>



    <!--avatar & questions-->
    <div class="container">

        <img src="../recursos/figure-male.png" alt="figure">

        <p class="p" id="questions">

        </p>
    </div>
    <!--End avatar & questions-->



    <!--Options-->

    <div class="options">
        <div class="uno">
            <label id="main"> 
                <input type="radio" name="rsvp" id="opt1">
            </label>
        </div>

        <div class="dos">
            <label id="section" >
                <input type="radio" name="rsvp" id="opt2">
            </label>
        </div>

        <div class="tres">
            <label id="header">
               <input type="radio" name="rsvp" id="opt3" >
            </label>

        </div>
    </div>
    <!-- End Options-->


    <footer>
        <button id="button">COMPROBAR</button>

    </footer>

   
    <script  src="../js/alerts.js"></script>
   
</body>

</html>